html{
    background: black;
}

.home{
    padding: 0px !important;
}

.home .upper-fold{
    height: 100vh !important;
    background-image: url('https://images.alphacoders.com/435/thumb-1920-435117.jpg');
    background-size: cover;
}